body {
  font-family: Arial, sans-serif;
  background-image: url("https://img.freepik.com/free-photo/cartoon-style-summer-scene-with-cute-animal_23-2151068383.jpg?t=st=1745524010~exp=1745527610~hmac=15eaa3ac68d3ea38e6e32130922b24c093a81cd36424352ea750fac52c02f81d&w=740");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h1 a {
  text-decoration: none;
  color: white;
}

form, .categories, .pagination {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  cursor: pointer;
}

input, select, button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.anime-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.anime-card {
  width: 200px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.479);
  padding: 10px;
  box-sizing: border-box;
}

.anime-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

/* ===== Modal ===== */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 12px;
  max-width: 500px;
  width: 90%;
  text-align: left;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.modal-content img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 20px;
  cursor: pointer;
  color: #999;
}
